  #search-content {
    margin: 20px;
    padding-top: 10%;
  }

.form-group {
  margin: 30px;
  border: 1px solid rgba(250, 250, 250, 0.5)
}

.searchhead {
  margin-top: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
  padding: 10px;
  margin-top: 20px;
}

.btn {
  margin: 10px;
  margin-bottom: 20px;
}

.MuiPaper-rounded {
  border-radius: 20px;
  box-shadow: 3px 3px 3px #2B5EC0;
}


.MuiPaper-rounded.searchcontainer{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.MuiPaper-elevation1 {
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12) !important;
}

#card{
  background-color: grey;
}

.head {
  border-right: 1px solid lightgray;
  width: 118px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  color: #2B5EC0;
  font-size: 24px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}